.register {
  height: 100% !important;
  font-size: 1rem !important;
  color: black !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
